.git
.gitignore
.env
node_modules
vendor
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs/*.log
bootstrap/cache/*.php
*.md
.DS_Store
Thumbs.db
tests/
.phpunit.result.cache
docker-compose.override.yml
